@font-face {
  font-family: fontFreeLight;
  src: url("../utils/FiraSansCondensed-Light.ttf");
}

@font-face {
  font-family: fontFreeRegular;
  src: url("../utils/FiraSansCondensed-Regular.ttf");
}

@font-face {
  font-family: fontFreeBold;
  src: url("../utils/FiraSansCondensed-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: fontFreeRegular;
  background-color: rgb(243 243 243);
}

.logo {
  display: flex;
  height: 60px;
}

svg {
  height: 63px;
  width: 96vh;
}

h2 {
  font-family: fontFreeBold;
  height: 55px;
  width: 280vh;
  padding-top: 9px;
  text-align: center;
  background-color: #131921;
  color: #ffffff;
}

td {
  font-family: fontFreeLight;
}

.table {
  border-bottom: 1px solid #dee2e6;
}

.clickable {
  cursor: pointer;
}

.list-group {
  font-family: fontFreeBold;
  text-align: center;
}

.list-group-item.active {
  color: white;
  background-color: #19305b !important;
  border-color: #19305b !important;
}

.pagination > .active > a {
  color: white !important;
  background-color: #19305b !important;
  border-color: #19305b !important;
}

.pagination > .page-item > a.page-link {
  color: #19305b;
}

.reset > .btn-primary {
  color: white;
  background-color: #19305b !important;
  border-color: #19305b !important;
}

span.badge-primary {
  color: white;
  background-color: #19305b !important;
  width: 40px;
  font-size: 26px;
}

td > button.btn-danger > i.fa-trash {
  width: 25px;
  font-size: 26px;
}

tbody > tr > td {
  vertical-align: middle !important;
}

.btn-buy {
  cursor: pointer;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #19305b;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #19305b;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

$primary: #19305b;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0;
  background: #f5f0ff;
  -webkit-font-smoothing: antialiased;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.bttn {
  color: $primary;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.bttn {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 220px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid $primary;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  &:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: $primary;
    z-index: -2;
  }
  &:hover {
    &:before {
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
  &:focus {
    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}
